<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ch9resource_pic">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <meta-data
        android:name="io.flutter.embedding.android.SplashScreenDrawable"
        android:resource="@drawable/my_splash"
        />
</manifest>
